<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Weekend Shop Project{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block stylesheets %}
        <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bootstrap/css/united/bootstrap.css') }}" rel="stylesheet" id="switch_style"/>
        <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/application.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/jquery.rating.css') }}" rel="stylesheet"/>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/jquery.rating.pack.js') }}"></script>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div id="container">
{% include 'ShopContentBundle:Content:_header.html.twig' %}

{% include 'ShopContentBundle:Content:_navigation_main.html.twig' %}

{% block body %}

{% endblock %}

{% include 'ShopContentBundle:Content:_footer.html.twig' %}
</div>
</body>
</html>
