{% block navigation_top %}
<div class="row">
    <div class="links pull-right">
        <a href="{{ path('shop_content_homepage') }}">Home</a> |
        <a href="{{ path('shop_acccount_index') }}">My Account</a> |
        <a href="{{ path('shop_cart_index') }}">Shopping Cart</a> |
        <a href="{{ path('shop_about_index') }}">About</a> |
        <a href="{{ path('shop_contact_index') }}">Contact</a>
    </div>
</div>
{% endblock %}